<p>
  <%=h @meeting.title %> is coming up in <%= @meeting_at %>.
</p>
<p>
  Please <%= link_to "update your RSVP", meeting_url(@meeting) %> if you're not able to attend.
</p>

<%= render :partial => 'meeting', :object => @meeting %>
