html {
	background: url(../images/canvas.jpg) repeat;
}

body {
	font: small Georgia, "Times New Roman", Times, serif;
	margin: 2em 0;
}

h1 {
	color: #5d2a11;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* @group Standard Table */

table {
	font: 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #eee;
}

th,td {
	padding: 3px;
}

th {
	color: #ffd6c2;
	background-color: #5d2a11;
	border: 1px solid #5d2a11;
}

td {
	border: 1px solid #aaa;
}

.odd_row {
	background-color: #eee;
}

.even_row {
	background-color: #ffe7d9;
}

/* @end */

.pipe_separator {
	margin: 0 8px;
}

#page_wrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border: 1px solid #552a0d;
	background: white url(../images/sidebar_background.jpg) repeat-y right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#top_spacer {
	height: 80px;
}

/* @group Banner Section */

#banner {
	position: absolute;
	width: 760px;
	top: -20px;
	left: 11px;
	padding: 8px 8px 0 8px;
	border: 1px solid #552a0d;
	background-image: url(../images/brown_background_tile.jpg);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#top_logo {
	
}

#user_bar_action {
	color: #ddd;
	float: right;
}

#user_bar_action a,
#user_bar_action a:visited {
	color: #ddd;
	text-decoration: none;
}

#user_bar_action a:hover {
	color: #ffd6c2;
	text-decoration: underline;
}

#tab_bar {
	position: absolute;
	left: 106px;
	bottom: 0;
}

.tab {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	color: #5d2a11;
	background-color: white;
	margin-left: 3px;
	padding: 2px 10px;
	height: 16px;
	cursor: pointer;
	float: left;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}

.tab:hover {
	color: #4d2615;
	background-color: #ffc47e;
}

.selected_tab {
	color: #4d2615;
	background-color: #ffab59;
}

.tab a {
	text-decoration: none;
	color: #5d2a11;
}

/* @end */

/* @group Sidebar Section */

#sidebar {
	width: 200px;
	padding: 8px;
	float: right;
}

/* @end */

/* @group Main Content Section */

#main_content {
	margin-right: 215px;
	padding: 12px;
}

.post_title {
	color: #5d2a11;
	margin-top: 0;
	margin-bottom: 4px;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #2d190f;
	font: italic x-large Georgia, "Times New Roman", Times, serif;
}

.post_date_line {
	margin-bottom: 1em;
	font: italic 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.post_date_line img {
	vertical-align: bottom;
}

.post_content {
	color: #2d190f;
}

#rsvp_panel {
	font-weight: bold;
	color: #5d2a11;
	width: 170px;
	height: 70px;
	background-color: #ddb;
	padding: 8px;
	margin-bottom: 0.75em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#rsvp_panel p {
	margin-bottom: 0.75em;
}

#rsvp_options label {
	margin-right: 0.75em;
}

#attendee_rsvp_yes {
	color: green;
}

#attendee_rsvp_no {
	color: #c00;
}

#attendee_rsvp_maybe {
	color: #55a;
}

/* @end */

/* @group Footer Section */

#footer {
	color: #333;
	text-align: center;
	padding: 8px;
	clear: both;
}

/* @end */

/* @group Form Errors */

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

/* @end */