html {
	background: url(../images/canvas.jpg) repeat;
}

body {
	font: 10pt Georgia, "Times New Roman", Times, serif;
	margin: 2em 0;
}

p {
	margin-bottom: 0.75em;
}

h1 {
	color: #5d2a11;
	margin-top: 0;
	margin-bottom: 4px;
	padding-bottom: 0.1em;
	font: 18pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h2, h3 {
	font-size: 12pt;
	font-weight: bold;
	color: #5d2a11;
	margin-top: 0;
	margin-bottom: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #88f;
	text-decoration: underline;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* @group Standard Table */

table {
	font: 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #eee;
}

th,td {
	padding: 3px;
}

th {
	color: #ffd6c2;
	background-color: #5d2a11;
	border: 1px solid #5d2a11;
}

td {
	border: 1px solid #aaa;
}

.odd_row {
	background-color: #eee;
}

.even_row {
	background-color: #ffe7d9;
}

/* @end */

.pipe_separator {
	margin: 0 8px;
}

#page_wrapper {
	position: relative;
	width: 800px;
	margin: 0 auto;
	border: 1px solid #552a0d;
	background: white url(../images/sidebar_background.jpg) repeat-y right;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#top_spacer {
	height: 80px;
}

.layout_labels {
	width: 60px;
	text-align: right;
	font-weight: bold;
	float: left;
}

.layout_fields {
	margin-left: 65px;
}

/* @group Banner Section */

#banner {
	position: absolute;
	width: 760px;
	top: -20px;
	left: 11px;
	padding: 8px 8px 0 8px;
	border: 1px solid #552a0d;
	background-image: url(../images/brown_background_tile.jpg);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#top_logo {
	
}

#user_bar_action {
	color: #ddd;
	float: right;
}

#user_bar_action a,
#user_bar_action a:visited {
	color: #ddd;
	text-decoration: none;
}

#user_bar_action a:hover {
	color: #ffd6c2;
	text-decoration: underline;
}

#tab_bar {
	position: absolute;
	left: 106px;
	bottom: 0;
}

.tab {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	color: #5d2a11;
	background-color: white;
	margin-left: 3px;
	padding: 2px 10px;
	height: 16px;
	cursor: pointer;
	float: left;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
}

.tab:hover {
	color: #4d2615;
	background-color: #ffc47e;
}

.selected_tab {
	color: #4d2615;
	background-color: #ffab59;
}

.tab a {
	text-decoration: none;
	color: #5d2a11;
}

/* @end */

/* @group Sidebar Section */

#sidebar {
	width: 200px;
	padding: 8px;
	float: right;
	font: 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group Main Content Section */

.flash_notice {
	font-weight: bold;
	background-color: #91fe8d;
	border: 1px solid green;
	margin-bottom: 6px;
	padding: 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.flash_error {
	font-weight: bold;
	background-color: #f3fb80;
	border: 1px solid green;
	margin-bottom: 6px;
	padding: 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	color: #c00;
}

#main_content {
	margin-right: 215px;
	padding: 12px;
	min-height: 400px;
}

.rounded_box {
	background-color: #eee;
	padding: 8px;
	margin: 4px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.row_controls {
	float: right;
}

#venue_details {
	height: 100px;
	margin-left: 110px;
}

#meeting_details {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	padding-top: 0.75em;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	clear: left;
}

#meeting_blank_state {
	margin-bottom: 0.5em;
}

.meeting_row {
	height: 60px;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px solid #aaa;
}

.meeting_row_content {
	margin-left: 65px;
}

.meeting_row_title {
	font-size: 12pt;
	font-weight: bold;
	color: #5d2a11;
	margin-bottom: 0.15em;
}

.meeting_row_date {
	font-style: italic;
}

.post_title {
	color: #5d2a11;
	margin-top: 0;
	margin-bottom: 4px;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #2d190f;
	font: 18pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.post_date_line {
	margin-bottom: 1em;
	font: italic 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.post_date_line img {
	vertical-align: bottom;
}

.post_content {
	color: #2d190f;
}

.data_file_row {
	height: 50px;
	margin-bottom: 0.25em;
	padding-top: 0.25em;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px solid #aaa;
}

.data_file_row_content {
	margin-left: 55px;	
}

.data_file_row_icon {
	float: left;
}

.data_file_row_title {
	font-size: 12pt;
	font-weight: bold;
	color: #5d2a11;
	margin-bottom: 0.15em;
}

.data_file_row_date {
	font-style: italic;
	color: #999;
	float: right;
}

.user_row {
	height: 46px;
	margin-bottom: 0.25em;
	padding-top: 0.5em;
	padding-left: 2px;
	padding-right: 2px;
	border-bottom: 1px solid #aaa;
}

.user_row_content {
	margin-left: 55px;
}

.gravatar_image {
	float: left;
}

.gravatar_image img {
	width: 40px;
	height: 40px;
	border: 1px solid gray;
}

.user_row_title {
	font-size: 12pt;
	font-weight: bold;
	color: #5d2a11;
	margin-bottom: 0.15em;
}

.user_row_date {
	font-size: 8px;
	font-style: italic;
	color: #999;
	float: right;
}

/* @end */

/* @group Calendar Icons */

.calendar_icon {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 100px;
	height: 90px;
	text-align: center;
	border: 2px solid #e60;
	background-color: #eed;
	position: relative;
	float: left;
}

.calendar_icon_month {
	font-size: 12pt;
	font-weight: bold;
	color: white;
	background-color: #e60;
	padding-bottom: 3px;
}

.calendar_icon_day {
	font-size: 36pt;
	font-weight: bold;
	position: relative;
	top: -6px;
	text-shadow: #aaa 2px 3px 4px;
}

.calendar_icon_time {
	font-size: 8pt;
	position: relative;
	top: -6px;
}

.calendar_icon_sm {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 50px;
	height: 50px;
	text-align: center;
	border: 2px solid #e60;
	background-color: #eed;
	position: relative;
	float: left;
}

.calendar_icon_sm:hover {
	cursor: pointer;
	background-color: #eef;
}

.calendar_icon_month_sm {
	font-size: 10pt;
	font-weight: bold;
	color: white;
	background-color: #e60;
	padding-bottom: 2px;
}

.calendar_icon_day_sm {
	font-size: 22pt;
	font-weight: bold;
	position: relative;
	top: -2px;
	text-shadow: #aaa 1px 2px 2px;
}

/* @end */

/* @group RSVP Panel */

#rsvp_panel {
	text-align: center;
	font-weight: bold;
	color: #5d2a11;
	width: 160px;
	height: 75px;
	background-color: #eed;
	padding: 8px;
	float: right;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#rsvp_panel h3 {
	font-size: 12pt;
	margin-top: 0;
	margin-bottom: 0.25em;
}

#rsvp_panel a {
	color: #5d2a11;
}

#rsvp_panel a:hover {
	color: #99614b;
}

#rsvp_options label {
	margin-right: 0.5em;
}

.attendee_rsvp {
	font-size: 14pt;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.5em;
}

.attendee_rsvp_yes {
	color: green;
}

.attendee_rsvp_no {
	color: #c00;
}

.attendee_rsvp_maybe {
	color: #55a;
}

/* @end */

/* @group Footer Section */

#footer {
	font-size: 8pt;
	color: #333;
	text-align: center;
	padding: 8px;
	clear: both;
}

/* @end */

/* @group Form Errors */

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

/* @end */