<div id="tab_bar">
  <div id="meetings_tab" class="tab">
    Meetings
  </div>
  <div id="presentations_tab" class="tab selected_tab">
    Presentations
  </div>
  <div id="files_tab" class="tab">
    Files
  </div>
  <div id="members_tab" class="tab">
    Members
  </div>
  <% if current_user && current_user.admin? %>
  <div id="venues_tab" class="tab">
    <%= link_to "Venues", venues_path %>
  </div>
  <% end %>
</div>
