<div id="tab_bar">
  <% content_tag(:div, :id => "meetings_tab", :class => tab_class_for('meetings')) do -%>
    <%= link_to "Meetings", meeting_path(Meeting.next_scheduled) %>
  <% end -%>
  <% content_tag(:div, :id => "presentations_tab", :class => tab_class_for('presentations')) do -%>
    Presentations
  <% end -%>
  <% content_tag(:div, :id => "files_tab", :class => tab_class_for('files')) do -%>
    Files
  <% end -%>
  <% content_tag(:div, :id => "members_tab", :class => tab_class_for('members')) do -%>
    Members
  <% end -%>
  <% if current_user && current_user.admin? %>
  <% content_tag(:div, :id => "venues_tab", :class => tab_class_for('venues')) do -%>
    <%= link_to "Venues", venues_path %>
  <% end -%>
  <% end %>
</div>
