<% if logged_in? -%>
  <div id="user_bar_action"  >
    <%= link_to "Edit profile", edit_user_path(current_user),
      { :title => "Create an account" } %> /
    <%= link_to "Log out", logout_path, { :title => "Log out" }    %>
  </div>
<% else -%>
  <div id="user_bar_action"  >
    <%= link_to "Log in",  login_path,  { :title => "Log in" } %> /
    <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
  </div>
<% end -%>
