<div id="sidebar">
  <div>
    This is a sidebar. See how it gleams. This you can imagine, only in your dreams.
  </div>
</div>
<div id="blog_post_container">
  <div class="post_content">
    <h2 class="post_title">
      Using Git with Robert Walker
    </h2>
    <div class="post_date_line">
      <%= image_tag "date.gif" %> <span class="post_date">Saturday, July 4, 2009</span>
    </div>
    <p>
      In June, Robert Walker enlightened us on the basics and benefits of using Git as a source code management system.
    </p>
    <p>
      Beginning with a brief overview of source control, we learned about the pros and cons of using Git, how to deeply manage source code merges and branches (even within an SVN-dominated team), and finally looked at git-hub, Git’s social coding site.
    </p>
    <p>
      The lecture video is currently uploading to Vimeo.
    </p>
    <p>
      The lecture slides and demo code are in the <a href="http://example.com/">Files Area</a>.
    </p>
  </div>
  <div class="post_content">
    <h2 class="post_title">
      The Text System with Aaron Hillegass
    </h2>
    <div class="post_date_line"> <%= image_tag "date.gif" %> 
      <span class="post_date">Thursday, May 14, 2009</span>
    </div>
    <p>
      Aaron Hillegass, Cocoa developer extraordinaire and director of the Big Nerd Ranch, spent time with us discussing the power of the text system.
    </p>
    <p>
      This month’s lecture began with a discussion about the power features of the text system, such as NSTextContainer, NSTextView, and the global field editor. For good measure, we learn how to sine-justify text. You read correctly.
    </p>
    <p>
      Toward the end of the meeting, the lecture turned into more of a Q/A about Cocoa programming in general.
    </p>
    <p>
      Aaron is best known for his work with the Big Nerd Ranch, as well as for his book, Cocoa Programming for Mac OS X, which is considered by many to be the definitive guide to beginning Cocoa programming.
    </p>
    <p>
      The lecture slides and sample code are currently available in the Files area.
    </p>
    <p>
      The lecture video/screencast are currently being edited and will be made available as soon as they are complete.
    </p>
    <p>
      Next lecture: Source Control with GIT, presented by Robert Walker.
    </p>
  </div>
</div>
